<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="menuFragment">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <menu>
    <a th:href="@{/Times_Table}">Home</a> |
    <a th:href="@{/mav}">ModelAndView</a> |
    <a th:href="@{/t_table}">Times_Table</a> |
    <a th:href="@{/score}">Score</a> |
    <a th:href="@{/login}">Login</a> |
    <a th:href="@{/Memo}">Memo</a> |
    <a th:href="@{/Todo}">Todo</a> |
    <a th:href="@{/bbs}">Bbs</a> |
    <a th:href="@{/shop}">Shop</a> |
  </menu>
</body>
</th:block>
</html>