<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 th:text="'Write'"></h1>
    <form method="post" action="/Memo">
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="ex1">Id</label>
                <input class="form-control" id="ex1" type="text" name="Id">
            </div>
            </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="ex1">Password</label>
                <input class="form-control" id="ex1" type="text" name="Password">
            </div>
            </div>

            </div><button type="submit" class="btn btn-success btn-lg">Done</button>

        </div>
    </form>
</body>
</html>