<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
</head>
<body>
<h2>Todo List</h2>

  <form th:action="@{/todo/add}" method="post" th:object="${newTodo}">
    <input type="text" th:field="*{title}" placeholder="할 일을 입력하세요" required />
    <button type="submit">추가</button>
  </form>

  <ul>
    <div th:each="todo : ${list}">
      <span th:text="${todo.title}"></span>
      <a th:href="@{/todo/edit/{id}(id=${todo.id})}">수정</a>
      <a th:href="@{/todo/delete/{id}(id=${todo.id})}">삭제</a>
    </div>
  </ul>


</body>
</html>
